.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 100%;
  max-width: 300px;
  text-align: center;
  display: grid;
  gap: 10px;
  padding: 20px 30px;
}

.app h3 {
  font-size: 22px;
}

.app span {
  font-size: 20px;
  font-weight: 600;
}

.app .btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.app button {
  padding: 6px 15px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.app .btn-start {
  background-color: green;
}

.app .btn-stop {
  background-color: blue;
}

.app .btn-reset {
  background-color: red;
}